/* setup */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, sans-serif;
  line-height: 1.6;
  color: #111;
}

/* begin */

.wrapper {
  margin: 1rem;
}
