/* setup */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, sans-serif;
  line-height: 1.6;
  color: #111;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}

/* begin */

.frame {
  text-align: center;
}

.frame-inner {
  max-width: 750px;
  margin: 3rem auto;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 250px;
  width: 70%;
}

.instawidget {
  min-height: 280px;
}

.frame-header {
  h1 {
    margin-top: 2rem;
    margin-bottom: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.22
  }

  h3 {
    margin: 0;
    font-weight: normal;
  }
}

.frame-about {
  margin-top: 4rem;
  margin-bottom: 5rem;
  padding: 0 20px;

  .tree {
    width: 70px;
  }

  p {
    font-size: 1.125rem;
  }
}

.frame-social {
  .follow-ig {
    display: block;
    width: 160px;
    margin: 0 auto 1rem;
    border: 2px solid #000;
    border-radius: 4px;

    &:hover {
      opacity: 0.8;
    }

    img {
      display: block;
      border-radius: 4px;
    }
  }
}

.frame-footer {
  p {
    margin: 0;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 90%;
  }
}
