<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>The Shop &middot; Humboldt Surf Shop</title>
  <meta name="description" content="The Shop is a Humboldt County surf shop. As Humboldt Natives, we know that proper gear is a crucial element of success in the demanding conditions we're blessed with as Humboldt surfers.">

  <link rel="stylesheet" href="/css/main.css?{{ site.time | date: '%s' }}" type="text/css">
  <link rel="icon" type="image/png" href="/favicon.png?{{ site.time | date: '%s' }}">
</head>
<body>
  <div class="wrapper">
    {{ content }}
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/main.js?{{ site.time | date: '%s' }}"></script>
</body>
</html>
